@import 'colors';

.item_row {
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
  max-height: 300px;
  padding-bottom: 15px;
  padding-top:15px;
}

.actividad{
  margin: 8px;
  height: 180px;
}

.pdt_even {
  background-color: #d6e9c6;
}

.pdt_odd {
  background-color: white;
}

.bottom {
  width: 100%;
}
 
.filter_row {
  margin-bottom: 20px;
}

.activity_title {
  color: $main_blue;
  font-size: 2em;
  margin-bottom: 10px;
  text-align: left;
  cursor: pointer;
}

.actions .action_row {
  display: table;
}

.actions {
  margin-top: 25px;
}

.action {
  display: table-cell;
  width: 64px;
  height: 64px;
  cursor: pointer;
}

.action.see {
  background-image: url('/images/see.png');
  background-repeat: no-repeat;
}

.action.stats {
  background-image: url('/images/statistics.png');
  background-repeat: no-repeat;
}

.action.novelty {
  background-image: url('/images/exclamation.png');
  background-repeat: no-repeat;
}

.action.plan {
  background-image: url('/images/calendar.png');
  background-repeat: no-repeat;
}

.action.docs{
  background-image: url('/images/documentation.png');
  background-repeat: no-repeat;
}

.action.evaluate{
  background-image: url('/images/checklist.png');
  background-repeat: no-repeat;
}

.action.transparent{
  background-image: none;
}

