@import 'colors';

.item {
  width: 95%;
  margin-bottom: 5px;
  border-bottom: 1px solid #ccc;
  border-radius: 8px;
  background-color: #ccc;
  padding: 10px;
  cursor: pointer;
}

.item-title {
  display: table;
  width: 100%;
}

.item-title-content {
  width: 95%;
  display: table-cell;
}

.glyphaction {
  display: table-cell !important;
  vertical-align: middle;
}

.item-title:hover {
  color: $main_blue;
}

.item-content {
  font-size: 10px;
  border-top: 1px solid #111;
  margin-top: 10px;
  padding-top: 4px;
}

.item-label {
  margin-right: 6px;
}

.item-date {
  font-size: 10px;
  font-style: italic;
}

.item-author {
  font-size: 10px;
}

.dashboard-wrapper {
  height: 100%;
  width: 95%;
  overflow: hidden;
}

.dashboard-content {
  max-height: 300px;
  margin-bottom: 25px;
  overflow: auto;
  width: 100%;
}
