@import 'colors';

.page_wrapper {
  margin: 0 auto;
}

.content_wrapper {
  margin-top: 24px;
}

header {
  margin-bottom: 10px;
}

.visualization_links {
  text-align: center;
  margin-top: 10px;
}

.title_bar {
  margin-top:20px;
  margin-bottom: 20px;
}

footer {
  background: url('/images/footer_background.jpg');
}

.carousel_title {
  margin-top: 15px;
}

.carousel-control.left {
  background-image: linear-gradient(to right, #03BBC1 0px, #FFF 100%) !important;
}

.carousel-control.right {
  background-image: linear-gradient(to right, #FFF 0px, #03BBC1 100%) !important;
}

.area_filtros {
  margin: 20px 0;
  border: 1px solid $main_blue;
}

.filtros {
  margin: 0 auto;
  width: 75%;
}

.filter-label {
  width: 100%;
  color: white;
  padding: 0.2em 0.6em 0.3em;
  font-size: 75%;
  font-weight: 700;
  text-align: center;
  border-radius: 0.25em;
  margin-top: 5px;
}

.filter-text {
  width: 80%;
  display: inline-block;
}
 
.inline {
  display: inline-block;
}

/*
#lista_iniciativas {
  overflow: auto;
}
*/

.date_label {
  background: violet;
  color: white;
  padding: 6px 20px;
  border-radius: 8px;
  font-weight: bold;
  margin-bottom: 5px;
}

.filter-button, .filter-button-group {
  width: 100% !important;
}


