.page_wrapper {
  width: 1280px;
  margin: 0 auto;
}

.content_wrapper {
  width: 858px;
  margin-top: 24px;
}

header {
  height: 120px;
}

.title_bar {
  margin-bottom: 50px;
}

footer {
  background: url('/images/footer_background.jpg');
}
