@import 'colors';

.page_wrapper {
  margin: 0 auto;
}

.content_wrapper {
  margin-top: 24px;
}

header {
  margin-bottom: 10px;
}

.title_bar {
  margin-top:20px;
  margin-bottom: 20px;
}

footer {
  background: url('/images/footer_background.jpg');
}

.carousel_title {
  margin-top: 15px;
}

.carousel-control.left {
  background-image: linear-gradient(to right, #03BBC1 0px, #FFF 100%) !important;
}

.carousel-control.right {
  background-image: linear-gradient(to right, #FFF 0px, #03BBC1 100%) !important;
}

.area_filtros {
  margin: 20px 0;
  border: 1px solid $main_blue;
}

.filtros {
  margin: 0 auto;
  width: 75%;
}

#lista_iniciativas {
  overflow: auto;
}
