@import 'colors';

h1 {
  font-size: 32px;
}

h1.top {
  color: $main_blue;
}

h1.bottom {
  font-weight: bold;
  color: $aqua;
  margin-top: -8px !important;
}

h1.panel-title {
  font-size: 20px !important;
}

a.anim_title {
  font-size: 20px;
  font-weight: bold;
  color: $aqua; 
}

a.anim_title:hover {
  color: #111 !important;
}

.centered {
  text-align: center;
}

.dropdown-menu > li > a {
  font-size: 10px !important;
  cursor: pointer !important;
}

.small_text {
  font-size: 12px;
}
