div.modal-header.i-header
  h3.modal-title Detalle de la actividad {{actividad.nombre}} 
div.modal-body.i-body
    div.actividad.row
     div.col-md-12.col-xs-12.i-title
       h1 {{actividad[id_campo.actividad]}} 
     div.col-md-8.col-xs-12.i-col-left
      div.i-subtitle
        h3 {{actividad[id_campo.biblioteca]}}
      div.aporte
        label Tipo de actividad 
        p {{actividad[id_campo.tipo_actividad]}} 
      //div.i-midia
      //  img(src="{{actividad[id_campo.imagen]}}")
      div.i-biblioteca
        p {{actividad[id_campo.descripcion]}} 
      div.objectivos
        label Objetivos específicos 
        p {{actividad[id_campo.objetivos]}} 
      div.justificacion
        label Justificación
        p {{actividad[id_campo.justificacion]}} 
      div.i-lugar.i-info
        label Iniciativa a la que pertenece
        p {{actividad[id_campo.pertenece]}} 
      div.i-lugar.i-info
        label Planeación de la actividad 
        p {{actividad[id_campo.planeacion]}}
      div.i-lugar.i-info
        label Áreas o canales 
        p {{actividad[id_campo.areas_canales]}}
      div.i-lugar.i-info
        label Como aporta cada canal o área seleccionada? 
        p {{actividad[id_campo.como_aporta]}}
      div.i-doc-detalle.i-info
        label Documentación 
        p {{actividad[id_campo.documentacion]}}
      div.antiguedad
        label Historia de la actividad 
        p {{actividad[id_campo.historia]}} 
      div.aporte
        label Aporte a acceso a formación para el desarrollo humano integral 
        p {{actividad[id_campo.aporte_acceso]}} 
      div.aporte
        label Aporte a acceso a información pertinente con el territorio  
        p {{actividad[id_campo.aporte_info]}} 
      div.aporte
        label Aporte a espacios de encuentro acogedores e incluyentes 
        p {{actividad[id_campo.aporte_espacio]}} 
      div.aporte
        label Aporte a fomento a la innovación colaborativa 
        p {{actividad[id_campo.aporte_fomento]}} 
      div.aporte
        label Aporte a incidencia e intercambio en el conocimiento
        p {{actividad[id_campo.aporte_incide]}} 
      div.aporte
        label En que nivel de incidencia e intercambio en el conocimiento?  
        p {{actividad[id_campo.aporte_nivel]}} 
      div.i-categoria.i-info
          label En que categoría de formación? 
          p {{actividad[id_campo.cat_form]}}
     div.col-md-4.col-xs-12.i-col-right
      div.i-info(style="word-wrap: break-word")
        div.i-lugar.i-info
          label Ejecución conjunta 
          p {{actividad[id_campo.conjunta]}}
        div.i-lugar.i-info
          label Si es con otros con quienes se ejecuta 
          p {{actividad[id_campo.con_quien]}}
        div.i-lugar.i-info
          label Meta actividades 
          p {{actividad[id_campo.metaactividades]}}
        div.i-lugar.i-info
          label Meta beneficiarios 
          p {{actividad[id_campo.metabeneficio]}}
        div.i-lugar.i-info
          label Esta actividad generará contenidos o productos? 
          p {{actividad[id_campo.genera]}}
        div.i-lugar.i-info
          labela Descripción de los productos 
          p {{actividad[id_campo.desc_productos]}}
        div.i-lugar.i-info
          label Meta productos 
          p {{actividad[id_campo.metaproductos]}}
        div.i-lugar.i-info
          label Públicos por edad 
          p {{actividad[id_campo.publicos_edad]}}
        div.i-lugar.i-info
          label Públicos por grupo social 
          p {{actividad[id_campo.publicos_social]}}
        div.i-lugar.i-info
          label Públicos por grupo etnico 
          p {{actividad[id_campo.publicos_etnia]}}
        div.i-lugar.i-info
          label Otros Públicos 
          p {{actividad[id_campo.publicos_otros]}}
        div.i-lugar.i-info
          label Barrios de influencia 
          p {{actividad[id_campo.barrios]}}
        div.i-lugar.i-info
          label Detalle barrios de influencia 
          p {{actividad[id_campo.detalle_barrios]}}
        div.i-lugar.i-info
          label Día de inicio en 2016 
          p {{actividad[id_campo.dia_inicio]}}
        div.i-lugar.i-info
          label Mes de inicio en 2016 
          p {{actividad[id_campo.mes_inicio]}}
        div.i-lugar.i-info
          label Días de ejecución 
          p {{actividad[id_campo.dias_ejecucion]}}
        div.i-lugar.i-info
          label Frecuencia de la actividad 
          p {{actividad[id_campo.frecuencia]}}
        div.i-lugar.i-info
          label Horario 
          p {{actividad[id_campo.horario]}}
        div.i-lugar.i-info
          label Meses, Semanas y/o días que durará su ejecución 
          p {{actividad[id_campo.duracion]}}
        div.i-lugar.i-info
          label Antigüedad 
          p {{actividad[id_campo.antiguedad]}}
        div.i-doc-detalle.i-info
          label De dónde proviene la idea de la actividad 
          p {{actividad[id_campo.dedonde]}}
        div.i-doc-detalle.i-info
          label Categoría estadística 
          p {{actividad[id_campo.cat_stats]}}
        div.i-doc-detalle.i-info
          label Como se evaluará la actividad
          p {{actividad[id_campo.evalua]}}
        div.i-doc-detalle.i-info
          label Frecuencia de evaluación 
          p {{actividad[id_campo.frecuencia_eval]}}
        div.i-responsable.i-info
          label Nombre del responsable(s) 
          p {{actividad[id_campo.responsables]}}
        div.i-responsable.i-info
          label Rol del responsable(s) 
          p {{actividad[id_campo.rolesresponsables]}}
        div.i-responsable.i-info
          label Teléfono de contacto 
          p {{actividad[id_campo.telefono]}}
        div.i-responsable.i-info
          label Correo electrónico 
          p {{actividad[id_campo.correo]}}
        div.i-etiquetas.i-info
          label Institución o proyecto al que pertenece la actividad 
          p {{actividad[id_campo.institucion]}}
        div.i-etiquetas.i-info
          label Condiciones de tiempo y/o cobertura 
          p {{actividad[id_campo.condiciones]}}
        div.i-etiquetas.i-info
          label Apoyo y acompañamientos desde la biblioteca 
          p {{actividad[id_campo.apoyo]}}

div.modal-footer
  button.btn.btn-primary(ng-click="ok()") Cerrar 
  //button.btn.btn-warning(ng-click="cancel()")
