div.navigation
  div.row
    div.viz-item.first_top.col-xs-4.col-sm-4.col-md-4
      div.appear(ng-show="show_viz_items")
        a.anim_title(href="#/vitrina") Visualización iniciativas bibliotecas
    div.viz-item.second_top.col-xs-4.col-sm-4.col-md-4 &nbsp;
    div.viz-item.third_top.col-xs-4.col-sm-4.col-md-4
      a.anim_title.appear(ng-show="show_viz_items", href="#") Visualización mapas
  div.row
    div.viz-item.first_middle.col-xs-4.col-sm-4.col-md-4&nbsp;
    div.second_middle.col-xs-4.col-sm-4.col-md-4(ng-class="show_viz_items? '' : 'pulse' ")
      img(src='/images/bibliolabs.png', title="Bibliolabs", ng-mouseenter="show_items()")
    div.viz-item.third_middle.col-xs-4.col-sm-4.col-md-4&nbsp;
  div.row
    div.viz-item.first_bottom.col-xs-4.col-sm-4.col-md-4&nbsp;
    div.viz-item.second_bottom.col-xs-4.col-sm-4.col-md-4&nbsp;
      div.appear(ng-show="show_viz_items")
        a.anim_title(href="#/tools") ecosistema software libre bibliolabs 
    div.viz-item.third_bottom.col-xs-4.col-sm-4.col-md-4&nbsp;
      //a.anim_title.appear(ng-show="show_viz_items", href="#") ecosistema software libre bibliolabs 

//
  div.latest-panel
    h2.top bibliolabs feed
    div.dashboard-wrapper
          div.dashboard-content
            h4.top.inline
              a(href="http://wiki.bibliolabs.cc", style="margin-left: 5px") Wiki 
            div.item(ng-repeat="item in root.wiki.item", ng-click="set_item_content_visible(item)") 
              div.item-title
                div.item-title-content{{item.title}} 
                div.glyphaction.glyphicon.glyphicon-eye-open(aria-hidden="true")
              div.item-date
                label.item-label Fecha publicación
                {{item.pubDate}}
              div.item-content(ng-show="item.content_visible")
                div.item-author
                  label.item-label Autor
                  {{item.author}}
                div.item-link
                  label.item-label Enlace 
                  a(href="{{item.link}}") Abrir 
                div.item-description
                  label.item-label Descripción
                  {{item.description}}
                div.item-category
                  label.item-label Categoría
                  {{item.category}}

  div.dashboard-wrapper
      div.dashboard-content
        h4.top.inline
          a(href="http://wiki.bibliolabs.cc", style="margin-left: 5px") Mediagoblin 
        div.item(ng-repeat="item in root.mg.entry", ng-click="set_item_content_visible(item)")
          div.item-title
            div.item-title-content{{item.title.__text}} 
            div.glyphaction.glyphicon.glyphicon-eye-open(aria-hidden="true")
          div.item-date
            label.item-label Fecha publicación
            {{get_fecha(item.updated)}}
          div.item-content(ng-show="item.content_visible")
            div.item-author
              label.item-label Autor
              {{item.author.name}}
            div.item-link
              label.item-label Enlace 
              a(href="{{item.link._href}}") Abrir 
    
