div.modal-header.i-header
  //-h3.modal-title Detalle de la iniciativa {{iniciativa.nombre}} 
  h3.modal-title Detalle de la iniciativa
div.modal-body.i-body
  div.iniciativa.row
   div.col-md-12.col-xs-12.i-title
     h1 {{iniciativa.nombre}} 
   div.col-md-8.col-xs-12.i-col-left
    div.i-subtitle
      h3 {{iniciativa.descripcion}}
    div.i-midia
      img(src="{{iniciativa.diapositiva}}")
   div.col-md-4.col-xs-12.i-col-right
    div.i-info
      div.i-subtitle
        h3 Ficha de la iniciativa
      div.i-responsable
        {{iniciativa.responsable}}
      div.i-lugar
        {{iniciativa.lugar}}
      div.i-doc-detalle
        {{iniciativa.documentacion-detalle}}
      div.i-categoria
        {{iniciativa.categoria}}
      div.i-etiquetas
        {{iniciativa.etiquetas}}
      div.i-larga
        {{iniciativa.descripcion-larga}}
      div.i-objetivo
        {{iniciativa.objetivo}}
      div.i-footer

div.modal-footer
  button.btn.btn-primary(ng-click="ok()") Cerrar 
  //button.btn.btn-warning(ng-click="cancel()")
