div.content
  div.row
    div.col-md-2(ng-repeat="iniciativa in root.iniciativas | filter:root.iniciativas.search")
      div.thumbnail
        img(src="{{iniciativa.portada}}" alt="{{iniciativa.nombre}}")
