doctype html
html(ng-app="hilosApp")
  head
    meta(charset="utf-8")
    meta(name="apple-mobile-web-app-capable" content="yes")
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")

    link(rel='stylesheet', href='/css/hilos_styles.css') 
    link(rel='stylesheet', href="https://fonts.googleapis.com/css?family=Roboto", type="text/css" )

    title Hilos - Sistema de Bibliotecas de Medell&iacute;n

  body
    
    //-a#inicio
    //-a#proyectos
    //-a#contacto
    div.container
      div.header
        div.container-brand.clearfix 
          img.thread(src="/images/hilos/thread.png",alt="")
          div.container-logo-bibliolabs
            img.logo-bibliolabs(src="/images/hilos/bibliolabs.png",alt="")
          div.text-header
            La ciudad y sus puntos de vista, tema o personajes comunes en distintas historias. Historias y memorias como la vida de cada persona contribuye a la historia y la memoria de una sociedad y una ciudad. 


      div.flag
      div#scene-memory-back.scene
        div.layer(data-depth="0.10")
          img(src="/images/hilos/memory_back.png" alt="")

      div#scene-audio-back.scene
        div.layer(data-depth="0.10")
          img(src="/images/hilos/audio_back.png" alt="")

      div#scene-comic-back.scene
        div.layer(data-depth="0.10")
          img(src="/images/hilos/comic_back.png" alt="")

      div#scene-game-back.scene
        div.layer(data-depth="0.10")
          img(src="/images/hilos/game_back.png" alt="")

      div#scene-photo-back.scene
        div.layer(data-depth="0.10")
          img(src="/images/hilos/photo_back.png" alt="")

    //begin of links 

    a(href="http://wiki.bibliolabs.cc/bibliolabs:grupos-interes:narrativas-hipermedia:experimento-narrativa:audiovisual:descripcion-audiovisual" target="_blank" class="link" id="link-memory") 

    a(href="http://wiki.bibliolabs.cc/bibliolabs:grupos-interes:narrativas-hipermedia:experimento-narrativa:sonoro:descripcion-sonoro " target="_blank" class="link" id="link-audio") 

    a(href="http://wiki.bibliolabs.cc/bibliolabs:grupos-interes:narrativas-hipermedia:experimento-narrativa:ilustracion:descripcion-ilustracion" target="_blank" class="link" id="link-comic") 

    a(href="http://wiki.bibliolabs.cc/bibliolabs:grupos-interes:narrativas-hipermedia:experimento-narrativa:videojuegos:descripcion-videojuegos" target="_blank" class="link" id="link-game") 

    a(href="http://wiki.bibliolabs.cc/bibliolabs:grupos-interes:narrativas-hipermedia:experimento-narrativa:fotografia:descripcion-fotografia " target="_blank" class="link" id="link-photo") 

    
    //begin of the memory scene
    .container-string 
      .string
        img( src="/images/hilos/01.png" alt="") 

      div#scene-memoria.scene
        div.layer(data-depth="1.00")
          img(src="/images/hilos/01memory_tittle.png" alt="")

      div#scene-audiovisual.scene
        div.layer(data-depth="0.20")
          img(src="/images/hilos/02memory_tittle.png" alt="")

      div.container-patch
          img#patch3.patch.swing-1(src="/images/hilos/memory.png" alt="")

      div#scene-seemore01.scene
        div.layer(data-depth="1.00")
          img(src="/images/hilos/pink_seemore.png" alt="")

      div#scene-videoicon.scene
        div.layer(data-depth="1.00")
          img(src="/images/hilos/video.png" alt="")

      div#scene-wool.scene
        div.layer(data-depth="1.00")
          img(src="/images/hilos/wool.png" alt="")

    //begin of the audio scene        
    .container-string 
      .string
        img( src="/images/hilos/03.png" alt="") 

      div#scene-creacion.scene
        div.layer(data-depth="1.00")
          img(src="/images/hilos/audio_tittle01.png" alt="")

      div#scene-sonora.scene
        div.layer(data-depth="0.20")
          img(src="/images/hilos/audio_tittle02.png" alt="")

      div.container-patch
          img#patch-1.patch.swing-1(src="/images/hilos/02_audio.png" alt="")

      div#scene-seemore02.scene
        div.layer(data-depth="1.00")
          img(src="/images/hilos/green_seemore.png" alt="")

      div#scene-audioicon.scene
        div.layer(data-depth="1.00")
          img(src="/images/hilos/audio.png" alt="")

      div#scene-buttons.scene
        div.layer(data-depth="1.00")
          img(src="/images/hilos/buttons.png" alt="")


    //begin of the comic scene        
    .container-string 
      .string
        img( src="/images/hilos/05.png" alt="") 

      div#scene-narrativa.scene
        div.layer(data-depth="1.00")
          img(src="/images/hilos/comic_tittle01.png" alt="")

      div#scene-grafica.scene
        div.layer(data-depth="0.20")
          img(src="/images/hilos/comic_tittle02.png" alt="")

      div.container-patch
          img#patch-2.patch.swing-1(src="/images/hilos/06_comic.png" alt="")

      div#scene-seemore03.scene
        div.layer(data-depth="1.00")
          img(src="/images/hilos/pink_seemore.png" alt="")

      div#scene-comicicon.scene
        div.layer(data-depth="1.00")
          img(src="/images/hilos/comic.png" alt="")

      div#scene-pencil.scene
        div.layer(data-depth="1.00")
          img(src="/images/hilos/pencil.png" alt="")


    //begin of the game scene        
    .container-string 
      .string
        img( src="/images/hilos/07.png" alt="") 

      div#scene-universo.scene
        div.layer(data-depth="1.00")
          img(src="/images/hilos/game_tittle01.png" alt="")

      div#scene-juego.scene
        div.layer(data-depth="0.20")
          img(src="/images/hilos/game_tittle02.png" alt="")

      div.container-patch
          img#patch-2.patch.swing-1(src="/images/hilos/07_game.png" alt="")

      div#scene-seemore04.scene
        div.layer(data-depth="1.00")
          img(src="/images/hilos/pink_seemore.png" alt="")

      div#scene-gameicon.scene
        div.layer(data-depth="1.00")
          img(src="/images/hilos/game.png" alt="")

      div#scene-control.scene
        div.layer(data-depth="1.00")
          img(src="/images/hilos/control.png" alt="")


    //begin of the photo scene        
    .container-string 
      .string
        img( src="/images/hilos/07.png" alt="") 

      div#scene-historia.scene
        div.layer(data-depth="1.00")
          img(src="/images/hilos/photo_tittle01.png" alt="")

      div#scene-fotografica.scene
        div.layer(data-depth="0.20")
          img(src="/images/hilos/photo_tittle02.png" alt="")

      div.container-patch
          img#patch-4.patch.swing-1(src="/images/hilos/08_photo.png" alt="")

      div#scene-seemore05.scene
        div.layer(data-depth="1.00")
          img(src="/images/hilos/orange_seemore.png" alt="")

      div#scene-photoicon.scene
        div.layer(data-depth="1.00")
          img(src="/images/hilos/photo.png" alt="")

      div#scene-watch.scene
        div.layer(data-depth="1.00")
          img(src="/images/hilos/watch.png" alt="")



  .footer
    img(src="/images/hilos/footer_logos.png")


  //scripts
  script(src="/js/hilos/jquery.js")
  script(src="/js/hilos/jquery.parallax.js")
  script(type='text/javascript'). 
     $('.scene').parallax(); 
