doctype html
//html(ng-app="hilosApp")
html(ng-app="hilosApp")
  head
    link(rel='stylesheet', href='/css/styles.css') 
    link(rel='stylesheet', href='/css/hilos_styles.css') 
    link(rel='stylesheet', href="/bower_components/bootstrap/dist/css/bootstrap.min.css" )
    //script(src='/bower_components/angular/angular.min.js')
    //script(src='/bower_components/angular-route/angular-route.min.js')
    //script(src='/bower_components/angular-animate/angular-animate.min.js')
    //script(src='/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js')
    //script(src='/js/app.js')

    title Hilos - Sistema de Bibliotecas de Medell&iacute;n

  body
    
    //-a#inicio
    //-a#proyectos
    //-a#contacto
    div.page_wrapper.container
      div.content_wrapper.content.hilos_content
        header.hilos_header
            div.row
              div.col-md-3
                img(src='/images/sbpm.png' alt="Sistema de Bibliotecas P&uacute;blicas de Medell&iacute;n")
              div.col-md-5.centered
                div.visualization_links
                  a.left_align.active INICIO
                  a.centered(href='#proyectos') PROYECTOS
                  a.right_align(href='#contacto') CONTACTO
              div.col-md-4
                img(src='/images/alcaldia.png' style="margin-left: -15px" alt="Sistema de Bibliotecas P&uacute;blicas de Medell&iacute;n")

          
        div.main_content
          //-div(ng-view)
          .title_area
            img(src='/images/thread.png' alt="Hilos en SBPM")
            .subtitle_area
              div.col-md-6
                img.inline(src='/images/bibliolabs_letras.png' alt="Bibliolabs")
              div.col-md-6
                p.subtitle_p.inline La ciudad y sus puntos de vista, tema o personajes comunes en distintas historias. Historias y memorias como la vida de cada persona contribuye a la historia y la memoria de una sociedad y una ciudad.
          .arrow-down 

          section#proyectos
            .row.project
              .col-xs-4.right_aligned
                h5.hilos_subtitle.childhood LOS HILOS DE LA
                h1.hilos_title.childhood INFANCIA
              .col-xs-4
                .circular
                  img(width="300px" src="/images/childhood.png" alt="Infancia")
              .col-xs-4
                p.hilos_proyect_name Nombre del proyecto
                p.hilos_proyect_desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi pretium dapibus gravida. Morbi blandit mattis tincidunt. Nulla faucibus vitae mi eleifend cursus. Quisque sodales risus vel tellus gravida, et interdum nibh efficitur. Interdum et malesuada fames ac ante ipsum primis in faucibus.
            .row.thread
              .col-xs-4
              .col-xs-4.childhood_thread
              .col-xs-4
            

            .row.project
              .col-xs-4.right_aligned
                h5.hilos_subtitle.youth LOS HILOS DE LA
                h1.hilos_title.youth JUVENTUD 
              .col-xs-4
                .circular
                  img(width="300px" src="/images/youth.png" alt="Juventud")
              .col-xs-4
                p.hilos_proyect_name Nombre del proyecto
                p.hilos_proyect_desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi pretium dapibus gravida. Morbi blandit mattis tincidunt. Nulla faucibus vitae mi eleifend cursus. Quisque sodales risus vel tellus gravida, et interdum nibh efficitur. Interdum et malesuada fames ac ante ipsum primis in faucibus.
            .row.thread.youth_thread
            
            .row.project
              .col-xs-4.right_aligned
                h5.hilos_subtitle.adulthood LOS HILOS DE LA
                h1.hilos_title.adulthood ADULTEZ
              .col-xs-4
                .circular
                  img(width="300px" src="/images/adulthood.png" alt="Adultez")
              .col-xs-4
                p.hilos_proyect_name Nombre del proyecto
                p.hilos_proyect_desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi pretium dapibus gravida. Morbi blandit mattis tincidunt. Nulla faucibus vitae mi eleifend cursus. Quisque sodales risus vel tellus gravida, et interdum nibh efficitur. Interdum et malesuada fames ac ante ipsum primis in faucibus.
            .row.thread.adulthood_thread
            
            .row.project
              .col-xs-4.right_aligned
                h5.hilos_subtitle.senior LOS HILOS DE LA
                h1.hilos_title.senior MADUREZ
              .col-xs-4
                .circular
                  img(width="300px" src="/images/senior.png" alt="Madurez")
              .col-xs-4
                p.hilos_proyect_name Nombre del proyecto
                p.hilos_proyect_desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi pretium dapibus gravida. Morbi blandit mattis tincidunt. Nulla faucibus vitae mi eleifend cursus. Quisque sodales risus vel tellus gravida, et interdum nibh efficitur. Interdum et malesuada fames ac ante ipsum primis in faucibus.
          
          section#contacto  
            div.row
              h1.hilos_title.contact.centered CONTACTANOS
              p.hilos_contact.centered info@bibliotecasmedellin.gov.co
              p.hilos_contact.centered 
                a(href='http://www.bibliotecasmedellin.gov.co') www.bibliotecasmedellin.gov.co
              
