doctype html
html(ng-app="hilosApp")
  head
    link(rel='stylesheet', href='/css/styles.css') 
    link(rel='stylesheet', href='/css/hilos_styles.css') 
    link(rel='stylesheet', href="/bower_components/bootstrap/dist/css/bootstrap.min.css" )
    script(src='/bower_components/angular/angular.min.js')
    script(src='/bower_components/angular-route/angular-route.min.js')
    script(src='/bower_components/angular-animate/angular-animate.min.js')
    script(src='/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js')
    //script(src='/js/app.js')

    title Hilos - Sistema de Bibliotecas de Medell&iacute;n

  body
    div.page_wrapper.container
      div.content_wrapper.content.hilos_content
        header.hilos_header
            div.row
              div.col-md-3
                img(src='/images/sbpm.png' alt="Sistema de Bibliotecas P&uacute;blicas de Medell&iacute;n")
              div.col-md-5.centered
                div.visualization_links
                  a.left_align.active(ng-click="") INICIO
                  a.centered(ng-click="") PROYECTOS
                  a.right_align(ng-click="") CONTACTO
              div.col-md-4
                img(src='/images/alcaldia.png' style="margin-left: -15px" alt="Sistema de Bibliotecas P&uacute;blicas de Medell&iacute;n")

          
        div.main_content
          //-div(ng-view)
          .title_area
            img(src='/images/thread.png' alt="Hilos en SBPM")
            .subtitle_area
              div.col-md-6
                img.inline(src='/images/bibliolabs_letras.png' alt="Bibliolabs")
              div.col-md-6
                p.subtitle_p.inline La ciudad y sus puntos de vista, tema o personajes comunes en distintas historias. Historias y memorias como la vida de cada persona contribuye a la historia y la memoria de una sociedad y una ciudad.
          .arrow-down 
          


        footer
            div.row
              div.col-md-12.col-sm-12.col-xs-12
                div#footer_container.even_layout
                  div.footer_image
                    img(src="/images/cc-sa4.png" alt="Creative Commons Share-Alike Version 4.0")
                  div.footer_image
                    img(src="/images/bibliolabs_logo.png" alt="Bibliolabs")
                  div.footer_image
                    img(src="/images/c3p.png" alt="CasaTresPatios")
                  div.footer_image
                    img(src="/images/proyecto_sbpm.png" alt="Sistema de Bibliotecas P&uacute;blicas de Medell&iacute;n")
                  div.footer_image
                    img(src="/images/lectura_viva.png" style="margin-top: 10px" alt="Lectura Viva")
                  div.footer_image
                    img(src="/images/todos_por_la_vida.png" alt="Medell&iacute;n Todos Por La Vida")
                  div.footer_image
                    img(src="/images/alcaldia_medellin.png" alt="Alcald&iacute;a de Medell&iacute;n")
