doctype html
html(ng-app="bibliolabs-viz" manifest="/cache.manifest" type="text/cache-manifest")
  head
    link(rel='stylesheet', href='/css/styles.css') 
    link(rel='stylesheet', href="/bower_components/bootstrap/dist/css/bootstrap.min.css" )
    script(src='/bower_components/angular/angular.min.js')
    script(src='/bower_components/angular/angular-route.min.js')
    script(src='/bower_components/angular/angular-animate.min.js')
    //script(src="/js/angular-resource.min.js")
    script(src='/js/app.js')
    //script(src='/js/d3.v3.min.js')

    title Sistema de Bibliotecas de Medell&iacute;n - Iniciativas 

  body
    div.page_wrapper
      div.content_wrapper
        header
          div.content
            div.row
              div.col-md-9
                img(src='/images/sbpm.png' alt="Sistema de Bibliotecas P&uacute;blicas de Medell&iacute;n")
              div.col-md-2
                img(src='/images/bibliolabs.png' alt="Bibliolabs")

        
          div.title_bar
            h1.top INICIATIVAS
            h1.bottom BIBLIOTECAS
          
          div.main_content
            div(ng-view)

    
