.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

body{
  margin: 0;
}

.container{
  /*background-color: rgba(0,0,0,0.2);*/
}

.header{
  background: url(/images/hilos/bg.jpg);
}

.flag {
  height: 100px;
  background: url(/images/hilos/bg.jpg);
  -webkit-clip-path: polygon(0 0, 100% 0, 50% 100%);
  -moz-clip-path: polygon(0 0, 100% 0, 50% 100%);
  clip-path: polygon(0 0, 100% 0, 50% 100%);
  position: relative;
  z-index: -2;


}

.container-brand{
  position: relative;
  /*width: 50%;*/
  width: 600px;
  margin: auto;
}

.thread{
  display: block;
  width: 100%;
}

.container-logo-bibliolabs{
  float: left;
  width: 40%;
}

.logo-bibliolabs{
  display: block;
  width: 100%;
}

.text-header{
  float: left;
  width: 60%;
  padding: 0 20px;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  color: #717171;
  box-sizing: border-box;
}

/*@media (max-width: 1000px) {
  .container-logo-bibliolabs,
  .text-header{
    width: 100%;
  }

  .text-header{
    margin-top: 10px;
  }
}*/

.container-string{
  /*background-color: rgba(0,0,0,0.2);*/
  position: relative;
  /*width: 50%;*/
  width: 400px;
  margin: -20px auto 0;
  text-align: center;
}

.string{
  width: 7%;
  margin: auto;
  position: relative;
  z-index: -1;
}

.string img{
  display: block;
  width: 100%;
}

.scene{
  /*background-color: rgba(0,0,0,0.2);*/
  position: absolute;
  padding: 10px;
}

/* begin of the memory scene*/

#scene-memoria{
  top: 80px;
  left: 60px;  
}

#scene-audiovisual{
  top: 150px;
  left: 100px;  
}

#scene-memory-back{
  width: 800px;
  top: 660px;
  left: 0;
  right: 0;
  margin: auto;
}

#scene-seemore01{
  top: 394px;
  left: -40px;  
}

#scene-videoicon{
  top: 240px;
  left: 10px;  
}

#scene-wool{
  width: 200px;
  top: 450px;
  left: 220px;  
}

/* begin of the caudio scene*/

#scene-creacion{
  top: 390px;
  left: -130px;  
}

#scene-sonora{
  top: 430px;
  left: -130px;  
}

#scene-seemore02{
  top: 650px;
  left: 220px;  
}

#scene-audioicon{
  top: 400px;
  left: 310px; 
    /*revisar el margin left que  cuando pasa de 400 se desaparece la imagen*/
}

#scene-buttons{
  top: 390px;
  left: 70px;  
}

#scene-audio-back{
  width: 746px;
  top: 1250px;
  left: -100px;
  right: 0;
  margin: auto;
}

/* begin of the comic scene*/

#scene-narrativa{
  top: 300px;
  left: -130px;  
}

#scene-grafica{
  top: 350px;
  left: -130px;  
}

#scene-comicicon{
  top: 320px;
  left: 271px; 
}

#scene-seemore03{
  top: 650px;
  left: 220px;  
}

#scene-pencil{
  width: 734px;
  top: 390px;
  left: -100px;  
}

#scene-comic-back{
  width: 746px;
  top: 1900px;
  left: 0px;
  right: 0;
  margin: auto;
}

/* begin of the game scene*/


#scene-game-back{
  width: 746px;
  top: 2570px;
  left: 0px;
  right: 0;
  margin: auto;
}

#scene-control{
  width: 734px;
  top: 390px;
  left: -100px;  
}

#scene-seemore04{
  top: 410px;
  left: 0px;  
}

#scene-gameicon{
  top: 320px;
  left: 271px; 
}

#scene-universo{
  top: 300px;
  left: -130px;  
}

#scene-juego{
  top: 350px;
  left: -130px;  
}

/* begin of the photography memory scene*/

#scene-photo-back{
  width: 746px;
  top: 3250px;
  left: 0px;
  right: 0;
  margin: auto;
}

#scene-watch{
  top: 470px;
  left: -50px;  
}

#scene-seemore05{
  top: 610px;
  left: 270px;  
}

#scene-photoicon{
  top: 370px;
  left: 270px; 
}

#scene-historia{
  top: 220px;
  left: 20px;  
}

#scene-fotografica{
  top: 274px;
  left: 20px;  
}

.link{
  position: absolute;
  width: 550px;
  height: 500px;
  left: 0;
  right: 0;
  margin: auto;
  /*background-color: rgba(0, 255, 0, 0.2);*/
  z-index: 999;
}

#link-memory{
  top: 490px;
}

#link-audio{
  top: 1180px;
}

#link-comic{
  top: 1860px;
}

#link-game{
  top: 2560px;
}

#link-photo{
  top: 3160px;
}

.footer{
    text-align: center;
    width: 100%;
    margin-top: 100px;
}

.layer img{
  display: block;
  width: 100%;
}

.container-patch{
  /*background-color: rgba(0,0,0,0.2);*/
  /*top: 50px;*/
  /*width: 100%;*/
  margin-top: -4px;
}

.patch{

}

#patch0, #patch1, #patch2, #patch3, #patch4{
  display: block;
  width: 100%;
  margin-left: 1px;
  -webkit-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
}

#patch1{
  margin-top: -70px;
  transform-origin: 50% 15%;
}

@-webkit-keyframes swing {
  0% {
    -webkit-transform: rotateZ(10deg);
    -moz-transform: rotateZ(10deg);
    transform: rotateZ(10deg);
  }

  100% {
    -webkit-transform: rotateZ(-10deg);
    -moz-transform: rotateZ(-10deg);
    transform: rotateZ(-10deg);
  }
}

@-moz-keyframes swing {
  0% {
    -webkit-transform: rotateZ(10deg);
    -moz-transform: rotateZ(10deg);
    transform: rotateZ(10deg);
  }

  100% {
    -webkit-transform: rotateZ(-10deg);
    -moz-transform: rotateZ(-10deg);
    transform: rotateZ(-10deg);
  }
}

@-ms-keyframes swing {
  0% {
    -webkit-transform: rotateZ(10deg);
    -moz-transform: rotateZ(10deg);
    transform: rotateZ(10deg);
  }

  100% {
    -webkit-transform: rotateZ(-10deg);
    -moz-transform: rotateZ(-10deg);
    transform: rotateZ(-10deg);
  }
}

@keyframes swing {
  0% {
    -webkit-transform: rotateZ(10deg);
    -moz-transform: rotateZ(10deg);
    transform: rotateZ(10deg);
  }

  100% {
    -webkit-transform: rotateZ(-10deg);
    -moz-transform: rotateZ(-10deg);
    transform: rotateZ(-10deg);
  }
}

.swing-1 {
  -webkit-animation: swing 8s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -moz-animation: swing 8s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
  animation: swing 8s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
