div.content
              div.panel.panel-success
                div.panel-heading
                  h1.panel-title.centered Plan de Trabajo
                div.panel-body
                  div.viz-intro
                    p.centered Las actividades de las bibliotecas del Sistema de Bibliotecas Públicas de Medellín (SBPM) en un lugar
